{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */
#}
{% block content %}
  <div class="brand" property="publisher" typeof="GovernmentOrganization">
    {% if language_prefix == 'ja' %}
    <a href="https://canada.ca/en.html" property="url">
      <img id="header-logo" src='{{ url('<front>')|render~'/../libraries/theme-gcweb/assets/sig-blk-en.svg' }}' alt="{{ 'Government of Canada'|t }}" property="logo" />
      <span class="wb-inv"> /
        <span lang="{{ language_opposite }}">{{ label_opposite }}</span>
      </span>
    </a>
    {% else %}
    <a href="https://canada.ca/{{ language_prefix }}.html" property="url">
      <img id="header-logo" src='{{ logo_svg }}' alt="{{ 'Government of Canada'|t }}" property="logo" />
      <span class="wb-inv"> /
        <span lang="{{ language_opposite }}">{{ label_opposite }}</span>
      </span>
    </a>
    {% endif %}
    <meta property="name" content="{{ 'Government of Canada'|t }}">
    <meta property="areaServed" typeof="Country" content="Canada">
    <link property="logo" href="/libraries/theme-gcweb/assets/wmms-blk.svg">
  </div>
{% endblock %}
