@charset "UTF-8";

/* This comment shows up in css file */
// This comment line does NOT compile into the css file.
// Hide fields on BasicPage and LandingPage add - edit forms.
body.is-reviewer, 
body.is-creator,
body.is-ccpub,
body.is-cspub {
  &.node-edit.page-node-type-page, // Target specifically node edit for basic page as per specs.
  &.node-edit.page-node-type-landing-page, // Target specifically node edit for landing page as per specs.
  &.nodeaddpage, // Target specifically nodeaddpage.
  &.nodeaddlanding_page // Target specifically nodeaddlanding_page.
  {
    // Hide Menu link Weight.
    #edit-advanced .form-item--menu-weight {
      display: none;
    }
    // Hide Preview button.
    #edit-preview {
      display: none;
    }
  }
}

// For the reviewer role hide the edit button.
body.role-is-reviewer.path-node {
  ul.tabs--primary a[rel=edit-form] {
    display:none !important;
  }
  .ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-link.button.button--danger{
    display: none;
  }
  .ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-container a, .ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-container p{
    display: none;
  }
  
}

// For the reviewer and creator role hide 'Temporary unpublished access' control on Edit content form.
body.role-is-reviewer.path-node, body.role-is-creator.path-node {
  details[data-drupal-selector="edit-access-unpublished-settings"]{  
    display: none;
  }
}

// For the reviewer and creator role hide help menu.
body.role-is-reviewer, body.role-is-creator { 
  a[data-drupal-link-system-path="admin/help"]{  
    display: none;
  }
}

// For the creator role hide block layout page.
body.role-is-creator{ 
  a[data-drupal-link-system-path="admin/structure/block"]{  
    display: none;
  }
  table[data-drupal-selector="edit-blocks"]{
    display: none;
  }
  form[data-drupal-selector="block-admin-display-form"]{
    display: none;
  }
  #block-claro-help{
    display: none;
  }
}


// For all the roles except for the admin role hide the schedule a status change link on content edit page.
body:not(.role-is-administrator){ 
  transitionset[data-drupal-selector="edit-moderation-state-0-scheduled-transitions"]{  
    display: none;
  }
  transitionset[data-drupal-selector="edit-moderation-state-etuf-fr-0-scheduled-transitions"]{  
    display: none;
  }
}

/* menu_parent select style */
body.node-edit .form-item--menu-menu-parent, 
body.nodeaddpage .form-item--menu-menu-parent,
body.nodeaddlanding_page .form-item--menu-menu-parent,
body.adminstructuremenumanagemaina select#edit-menu-parent,
body[class*="menuitem"] select#edit-menu-parent {
  #edit-menu-menu-parent {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }

  .menu_tree-leve-1 {
    padding-left: 15px;
    color: blue;
    font-size: 20px;
  }

  .menu_tree-leve-2 {
    padding-left: 30px;
    font-style: italic;
    color: green;
    font-size: 18px;
  }

  .menu_tree-leve-3 {
    padding-left: 45px;
    color:  #581845 ;
    font-size: 16px;
  }

  .menu_tree-leve-4 {
    padding-left: 60px;
    font-style: italic;
    color: purple;
    font-size: 16px;
  }

  .menu_tree-leve-5 {
    padding-left: 75px;
    color: Navy;
    font-size: 16px;
  }

  .menu_tree-leve-6 {
    padding-left: 90px;
    font-style: italic;
    color: Olive;
    font-size: 16px;
 }
}

body.role-is-authenticated.path-node {
  div.layout-region.layout-region--node-footer {
    div.layout-region__content {
      margin-left: 0px;
    }
  }
}

