@charset "UTF-8";
/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
/* line 2, ../sass/components/_draft-pending-views.scss */
body.user-logged-in .view-content tr.published-no {
  background-color: pink;
  border: 3px solid red;
  overflow: hidden;
}

/* line 8, ../sass/components/_draft-pending-views.scss */
body.user-logged-in .view-content tr.published-no.pending-draft {
  background-color: #FFECA9;
  border: 3px solid orange;
  overflow: hidden;
}

/* line 14, ../sass/components/_draft-pending-views.scss */
body.user-logged-in .view-content table.dataTable {
  border-collapse: collapse;
  overflow: hidden;
}

/**** Components Node for unpublished content *****/
/* Note that drupal-bootstrap-not-cdn.min.css sets the background-color to #fff4f4 for body.is-unpublished */
/* line 5, ../sass/components/_node.scss */
body.user-anonymous #edit-body-etuf-fr-0-format,
body.user-anonymous #edit-body-0-format {
  display: none;
}

/* line 12, ../sass/components/_node.scss */
body.user-logged-in.published-no article {
  background-color: pink;
  border: 3px solid hotpink;
}
/* line 16, ../sass/components/_node.scss */
body.user-logged-in.published-no div.region-header h1 {
  background-color: pink;
  border: 3px solid hotpink;
}

/* The following code will override the body.is-unpublished background-color that drupal sets by default */
/* line 23, ../sass/components/_node.scss */
body.is-unpublished {
  background-color: white;
}

/* Unpublished revision pending to overwrite the published revision */
/* line 29, ../sass/components/_node.scss */
body.user-logged-in.published-no.pending-draft article {
  background-color: #FFECA9;
  border: 3px solid orange;
}
/* line 33, ../sass/components/_node.scss */
body.user-logged-in.published-no.pending-draft div.region-header h1 {
  background-color: #FFECA9;
  border: 3px solid orange;
}

/* line 40, ../sass/components/_node.scss */
body.user-logged-in[class*='archiv'] article {
  background-color: blanchedalmond;
  border: 3px solid saddlebrown;
}
/* line 44, ../sass/components/_node.scss */
body.user-logged-in[class*='archiv'] div.region-header h1 {
  background-color: blanchedalmond;
  border: 3px solid saddlebrown;
}

/* line 51, ../sass/components/_node.scss */
body.user-anonymous #edit-body-etuf-fr-0-format,
body.user-anonymous #edit-body-0-format {
  display: none;
}

/* line 58, ../sass/components/_node.scss */
body.user-logged-in.viewer.published-no article {
  background-color: unset;
  border: unset;
}
/* line 62, ../sass/components/_node.scss */
body.user-logged-in.viewer.published-no div.region-header h1 {
  background-color: unset;
  border: unset;
}

/* Unpublished revision pending to overwrite the published revision */
/* line 71, ../sass/components/_node.scss */
body.user-logged-in.viewer.published-no.pending-draft article {
  background-color: unset;
  border: unset;
}
/* line 75, ../sass/components/_node.scss */
body.user-logged-in.viewer.published-no.pending-draft div.region-header h1 {
  background-color: unset;
  border: unset;
}

/* line 82, ../sass/components/_node.scss */
body.user-logged-in.viewer[class*='archiv'] article {
  background-color: unset;
  border: unset;
}
/* line 86, ../sass/components/_node.scss */
body.user-logged-in.viewer[class*='archiv'] div.region-header h1 {
  background-color: unset;
  border: unset;
}

/* line 92, ../sass/components/_node.scss */
html:lang(en) body.anonymous.published-no main .field--name-body::before,
html:lang(en) body.viewer.published-no main .field--name-body::before {
  content: "Draft Version";
}

/* line 97, ../sass/components/_node.scss */
html:lang(fr) body.anonymous.published-no main .field--name-body::before,
html:lang(fr) body.viewer.published-no main .field--name-body::before {
  content: "En brouillon";
}

/* line 102, ../sass/components/_node.scss */
html:lang(en) body.anonymous.published-no main .field--name-body::before,
html:lang(fr) body.anonymous.published-no main .field--name-body::before,
html:lang(en) body.viewer.published-no main .field--name-body::before,
html:lang(fr) body.viewer.published-no main .field--name-body::before {
  margin-left: 3em;
  margin-top: 2.5em;
  position: fixed;
  transform: rotate(-45deg);
  color: #CCC;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  font-size: 400%;
  opacity: 0.6;
  z-index: 1;
  font-weight: bold;
  text-shadow: 2px 2px #666;
}

/* line 123, ../sass/components/_node.scss */
html:lang(en) body.anonymous.pending-draft main .field--name-body::before,
html:lang(en) body.viewer.pending-draft main .field--name-body::before {
  content: "Pending Draft";
}

/* line 128, ../sass/components/_node.scss */
html:lang(fr) body.anonymous.pending-draft main .field--name-body::before,
html:lang(fr) body.viewer.pending-draft main .field--name-body::before {
  content: "Brouillon en attente";
}

/* line 133, ../sass/components/_node.scss */
html:lang(en) body.anonymous.pending-draft main .field--name-body::before,
html:lang(fr) body.anonymous.pending-draft main .field--name-body::before,
html:lang(en) body.viewer.pending-draft main .field--name-body::before,
html:lang(fr) body.viewer.pending-draft main .field--name-body::before {
  margin-left: 3em;
  margin-top: 2.5em;
  position: fixed;
  transform: rotate(-45deg);
  color: #CCC;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  font-size: 400%;
  opacity: 0.6;
  z-index: 1;
  font-weight: bold;
  text-shadow: 2px 2px #666;
}

/* line 153, ../sass/components/_node.scss */
html:lang(en) body.anonymous.published-no-is-archived main .field--name-body::before,
html:lang(en) body.viewer.published-no-is-archived main .field--name-body::before {
  content: "Archived Version";
}

/* line 158, ../sass/components/_node.scss */
html:lang(fr) body.anonymous.published-no-is-archived main .field--name-body::before,
html:lang(fr) body.viewer.published-no-is-archived main .field--name-body::before {
  content: "Version archivée";
}

/* line 163, ../sass/components/_node.scss */
html:lang(en) body.anonymous.published-no-is-archived main .field--name-body::before,
html:lang(fr) body.anonymous.published-no-is-archived main .field--name-body::before,
html:lang(en) body.viewer.published-no-is-archived main .field--name-body::before,
html:lang(fr) body.viewer.published-no-is-archived main .field--name-body::before {
  margin-left: 3em;
  margin-top: 2.5em;
  position: fixed;
  transform: rotate(-45deg);
  color: #CCC;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  font-size: 400%;
  opacity: 0.6;
  z-index: 1;
  font-weight: bold;
  text-shadow: 2px 2px #666;
}

/* line 186, ../sass/components/_node.scss */
body.node-1 div.followus.experimental h2.mrgn-tp-lg.h3 {
  display: block;
}

/* line 1, ../sass/components/_front.scss */
.ip-covers-img {
  background-image: url("/themes/custom/aafctheme/images/aafc_homepage_banner_nov18.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  margin-top: 15px;
}

@media screen and (max-width: 767px) {
  /* line 10, ../sass/components/_front.scss */
  .ip-cover-hide-mobile {
    background-image: url("none") !important;
  }
}
@media screen and (max-width: 991px) {
  /* line 16, ../sass/components/_front.scss */
  .ip-cover-hide-tablet {
    background-image: url("none") !important;
  }
}
/* line 21, ../sass/components/_front.scss */
html:lang(en) body.path-frontpage h1 {
  padding-top: 0.8em;
}

/* line 2, ../sass/components/_container-fluid.scss */
div.container-fluid main nav.tabs.mrgn-tp-md.mrgn-bttm-md {
  margin-left: 13em;
}

/* line 6, ../sass/components/_container-fluid.scss */
div.container-fluid nav#wb-bc a {
  font-size: 16px;
}

/* line 9, ../sass/components/_container-fluid.scss */
div.container-fluid main div.region.region-header.container nav.tabs.mrgn-tp-md.mrgn-bttm-md {
  margin-left: 0em;
}

/* line 3, ../sass/components/_media.scss */
article.img-responsive-w520-special img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 9, ../sass/components/_media.scss */
article.thumbnail-w520-special img {
  background: #eaebed;
  border-color: #eee;
  border-radius: 0;
  padding: 5px;
  display: block;
  padding: 4px;
  margin-bottom: 23px;
  line-height: 1.4375;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-color: #dddddd;
  border-right-color: #dddddd;
  border-bottom-color: #dddddd;
  border-left-color: #dddddd;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

/* line 2, ../sass/anonymous/_restrictions.scss */
body.role-is-anonymous.path-node.published-yes .region-header nav.tabs,
body.role-is-anonymous.path-node.published-no .region-header nav.tabs {
  display: none !important;
}

/* line 2, ../sass/anonymous/_webforms.scss */
form.webform-submission-form div.form-type-select div.select-wrapper {
  margin-bottom: 20px;
}
/* line 4, ../sass/anonymous/_webforms.scss */
form.webform-submission-form div.form-type-select div.select-wrapper strong.error {
  position: absolute;
}

/* line 2, ../sass/components/_status_message.scss */
div.alert.alert-success.access_unpublished {
  margin-bottom: 5px;
  margin-top: 5px;
}
/* line 5, ../sass/components/_status_message.scss */
div.alert.alert-success.access_unpublished span.glyphicon-copy::before {
  font-size: x-large;
  margin-left: 10px;
  position: absolute;
  bottom: -4px;
}

/* line 2, ../sass/_legacy-styles.scss */
nav.gcweb-menu, nav.gcweb-v2, nav#wb-auto-2 {
  border-top: 3px solid #38414d;
}

/* line 6, ../sass/_legacy-styles.scss */
body.path-frontpage main.col-md-12 {
  padding-left: 0;
  padding-right: 0;
}

/* line 10, ../sass/_legacy-styles.scss */
.most-requested li {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
  margin-top: 0;
}

/* line 17, ../sass/_legacy-styles.scss */
#wb-srch {
  margin-right: 15px;
}

/* line 20, ../sass/_legacy-styles.scss */
#wb-srch input, .srchbox input {
  margin-right: 125px;
}

/* line 23, ../sass/_legacy-styles.scss */
#wb-lng li {
  margin-right: 0 !important;
}

/*
 * Site menu
 */
/* Special style for the home page - GCWeb v5 (gcweb-menu) */
/* line 30, ../sass/_legacy-styles.scss */
.home .gcweb-menu {
  border-top: 1px solid #ddd;
  color: #284162;
  margin-left: 0px;
}

/* line 35, ../sass/_legacy-styles.scss */
.home .gcweb-menu button[aria-haspopup=true] {
  background-color: #26374a;
  border-color: #26374a;
  color: #FFF;
}

/* line 40, ../sass/_legacy-styles.scss */
.home .gcweb-menu button[aria-haspopup=true]:hover {
  background-color: #444;
  color: #fff;
}

/* line 49, ../sass/_legacy-styles.scss */
ol, ul {
  padding-left: 2.1em;
}

/* line 52, ../sass/_legacy-styles.scss */
#searchoptions {
  line-height: 1.25em;
}

/* line 55, ../sass/_legacy-styles.scss */
#wb-bc {
  margin-left: -30px;
  margin-top: 15px;
}

/* line 59, ../sass/_legacy-styles.scss */
.navbar img {
  width: auto !important;
}

/* line 62, ../sass/_legacy-styles.scss */
.col-sm-12.bs-region.bs-region--bottom {
  padding-right: 0;
}

/* line 65, ../sass/_legacy-styles.scss */
.container-fluid {
  margin-right: 15px;
}

/* line 68, ../sass/_legacy-styles.scss */
.region.region-search {
  margin-top: -0.75em;
  right: 15px;
}

/* line 72, ../sass/_legacy-styles.scss */
#wb-srch input, .srchbox input {
  margin-right: 90px;
}

/* line 75, ../sass/_legacy-styles.scss */
.breadcrumb {
  padding: 8px 20px;
}

/* line 78, ../sass/_legacy-styles.scss */
header .brand {
  margin-top: -13px;
}

/* line 81, ../sass/_legacy-styles.scss */
body.home h1 {
  font-weight: 700;
  border-bottom-width: 1px;
}

/* line 85, ../sass/_legacy-styles.scss */
body.anonymous #wb-lng li {
  padding-right: 0;
}

/* line 88, ../sass/_legacy-styles.scss */
.most-requested h2 {
  font-size: 1.2em;
}

/* line 92, ../sass/_legacy-styles.scss */
.ip-btn {
  font-size: 1em;
}

/* supports the 3 column layout for MR instead of 4 columns */
/* line 97, ../sass/_legacy-styles.scss */
.list-responsive-3 > li {
  float: left;
  padding-right: 5px;
  width: 50%;
}

/* line 103, ../sass/_legacy-styles.scss */
.list-responsive-3 > li:nth-child(2n+2) {
  clear: right;
}

/* line 107, ../sass/_legacy-styles.scss */
.list-responsive-3:before,
.list-responsive-3:after {
  content: " ";
  display: table;
}

/* line 113, ../sass/_legacy-styles.scss */
.list-responsive-3:after {
  clear: both;
}

/* line 117, ../sass/_legacy-styles.scss */
.followus {
  background-color: #f5f5f5;
}

/* line 121, ../sass/_legacy-styles.scss */
.followus ul li a {
  border: solid 2px #f5f5f5;
}

/* line 125, ../sass/_legacy-styles.scss */
.featured {
  margin-bottom: 0em;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #31708f;
}

/* line 132, ../sass/_legacy-styles.scss */
.featured a {
  color: #fff;
}

/* line 136, ../sass/_legacy-styles.scss */
ul.feeds-cont li a {
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  /* line 142, ../sass/_legacy-styles.scss */
  .featured {
    padding-left: .8em;
  }
}
@media screen and (min-width: 1200px) {
  /* line 148, ../sass/_legacy-styles.scss */
  .list-responsive-3 > li {
    width: 33%;
  }
}
@media screen and (max-width: 767px) {
  /* line 155, ../sass/_legacy-styles.scss */
  .btn-call-to-action {
    font-size: 19px !important;
  }

  /* line 159, ../sass/_legacy-styles.scss */
  .most-requested li {
    font-size: 19px;
  }

  /* line 163, ../sass/_legacy-styles.scss */
  .list-responsive-3 > li {
    clear: right;
    width: 100%;
  }

  /* line 168, ../sass/_legacy-styles.scss */
  .mobile-left {
    float: left !important;
  }

  /* line 172, ../sass/_legacy-styles.scss */
  .ip-cover-hide-mobile {
    background-image: url("none") !important;
  }
}
/* line 177, ../sass/_legacy-styles.scss */
.featured {
  margin-bottom: 0em;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #31708f;
}

/* 
 * Breadcrumb line spacing override for D9
 */
/* line 186, ../sass/_legacy-styles.scss */
#wb-bc li {
  padding: 0px 2px;
}

/* line 4, ../sass/components/_feedback-webform.scss */
body.webform_feedback_programsandservices #webform-submission-yourfeedback-programsandservices-add-form div.form-item label[for="edit-programorservice"]::after, body.webform_feedback_programsandservices #webform-submission-yourfeedback-programsandservices-add-form div.form-item label[for="edit-emailaddress"]::after,
body.webform_feedback_programsandservices #webform-submission-yourfeedback-programsandservices-add-form div.form-item label[for="edit-fullname"]::after, body.webform_feedback_programsandservices #webform-submission-yourfeedback-programsandservices-add-form div.form-item label[for="edit-yourmessage"]::after {
  content: none;
}
/* line 8, ../sass/components/_feedback-webform.scss */
body.webform_feedback_programsandservices #webform-submission-yourfeedback-programsandservices-add-form div.form-item label[for="edit-programorservice"]::before, body.webform_feedback_programsandservices #webform-submission-yourfeedback-programsandservices-add-form div.form-item label[for="edit-emailaddress"]::before,
body.webform_feedback_programsandservices #webform-submission-yourfeedback-programsandservices-add-form div.form-item label[for="edit-fullname"]::before, body.webform_feedback_programsandservices #webform-submission-yourfeedback-programsandservices-add-form div.form-item label[for="edit-yourmessage"]::before {
  content: "";
  background-image: url(../images/required.svg);
  display: inline-block;
  line-height: 1;
  color: #e00;
  background-size: 7px 7px;
  width: 7px;
  vertical-align: super;
  margin-left: 4px;
  height: 7px;
  position: absolute;
  top: 7px;
  left: -15px;
}
/* line 24, ../sass/components/_feedback-webform.scss */
body.webform_feedback_programsandservices #webform-submission-yourfeedback-programsandservices-add-form div.form-item label[for="edit-programorservice"], body.webform_feedback_programsandservices #webform-submission-yourfeedback-programsandservices-add-form div.form-item label[for="edit-emailaddress"],
body.webform_feedback_programsandservices #webform-submission-yourfeedback-programsandservices-add-form div.form-item label[for="edit-fullname"], body.webform_feedback_programsandservices #webform-submission-yourfeedback-programsandservices-add-form div.form-item label[for="edit-yourmessage"] {
  position: relative;
  margin-left: 10px;
  margin-bottom: 0px;
}
/* line 31, ../sass/components/_feedback-webform.scss */
body.webform_feedback_programsandservices #webform-submission-yourfeedback-programsandservices-add-form div.form-item div.form-item--error-message.alert.alert-danger::before {
  content: none;
}
/* line 35, ../sass/components/_feedback-webform.scss */
body.webform_feedback_programsandservices #webform-submission-yourfeedback-programsandservices-add-form div.form-item div.form-item--error-message.alert.alert-danger {
  border-image: none !important;
  margin-bottom: 5px;
  margin-left: 0px;
  font-weight: bold;
  background: #f3e9e8;
  border-color: #d3080c;
}
/* line 45, ../sass/components/_feedback-webform.scss */
body.webform_feedback_programsandservices #webform-submission-yourfeedback-programsandservices-add-form div.form-item.form-item-programorservice.js-form-item-programorservice.form-group {
  margin-bottom: 0px;
}
/* line 49, ../sass/components/_feedback-webform.scss */
body.webform_feedback_programsandservices #webform-submission-yourfeedback-programsandservices-add-form div.form-item.form-item-programorservice.form-group label[for="edit-programorservice"] + div.select-wrapper select.form-select {
  width: 100%;
}
/* line 53, ../sass/components/_feedback-webform.scss */
body.webform_feedback_programsandservices #webform-submission-yourfeedback-programsandservices-add-form div.form-group.error.has-error label[for="edit-programorservice"] + div.select-wrapper {
  margin-bottom: 0px;
}
/* line 55, ../sass/components/_feedback-webform.scss */
body.webform_feedback_programsandservices #webform-submission-yourfeedback-programsandservices-add-form div.form-group.error.has-error label[for="edit-programorservice"] + div.select-wrapper select.form-select {
  width: 100%;
}
/* line 62, ../sass/components/_feedback-webform.scss */
body.webform_feedback_programsandservices div.region.region-highlighted ul li {
  display: block;
}
/* line 65, ../sass/components/_feedback-webform.scss */
body.webform_feedback_programsandservices div.region.region-highlighted ul li a {
  display: list-item;
  list-style-position: inside;
  margin-top: 15px;
}
/* line 70, ../sass/components/_feedback-webform.scss */
body.webform_feedback_programsandservices div.region.region-highlighted ul li::after {
  content: none;
}
/* line 73, ../sass/components/_feedback-webform.scss */
body.webform_feedback_programsandservices div.region.region-highlighted h2.sr-only {
  position: relative;
  font-size: 24px;
  width: 100%;
  height: 100%;
}

/* WCAG requires the font weight of the error message as normal */
/* line 85, ../sass/components/_feedback-webform.scss */
form[id$="-add-form"] section.alert ul li a {
  font-weight: normal;
}

/* line 3, ../sass/components/_generic-contact-webform.scss */
body.webform_generic_contactform div.form-item label[for="edit-preferredresponselanguage"]::after, body.webform_generic_contactform div.form-item label[for="edit-emailaddress"]::after,
body.webform_generic_contactform div.form-item label[for="edit-fullname"]::after, body.webform_generic_contactform div.form-item label[for="edit-yourmessage"]::after {
  content: none;
}
/* line 7, ../sass/components/_generic-contact-webform.scss */
body.webform_generic_contactform div.form-item label[for="edit-preferredresponselanguage"]::before, body.webform_generic_contactform div.form-item label[for="edit-emailaddress"]::before,
body.webform_generic_contactform div.form-item label[for="edit-fullname"]::before, body.webform_generic_contactform div.form-item label[for="edit-yourmessage"]::before {
  content: "";
  background-image: url(../images/required.svg);
  display: inline-block;
  line-height: 1;
  color: #e00;
  background-size: 7px 7px;
  width: 7px;
  vertical-align: super;
  margin-left: 4px;
  height: 7px;
  position: absolute;
  top: 7px;
  left: -15px;
}
/* line 23, ../sass/components/_generic-contact-webform.scss */
body.webform_generic_contactform div.form-item label[for="edit-preferredresponselanguage"], body.webform_generic_contactform div.form-item label[for="edit-emailaddress"],
body.webform_generic_contactform div.form-item label[for="edit-fullname"], body.webform_generic_contactform div.form-item label[for="edit-yourmessage"] {
  position: relative;
  margin-left: 10px;
  margin-bottom: 0px;
}
/* line 30, ../sass/components/_generic-contact-webform.scss */
body.webform_generic_contactform div.form-item div.form-item--error-message.alert.alert-danger::before {
  content: none;
}
/* line 34, ../sass/components/_generic-contact-webform.scss */
body.webform_generic_contactform div.form-item div.form-item--error-message.alert.alert-danger {
  border-image: none !important;
  margin-bottom: 5px;
  margin-left: 0px;
  font-weight: bold;
  background: #f3e9e8;
  border-color: #d3080c;
}
/* line 44, ../sass/components/_generic-contact-webform.scss */
body.webform_generic_contactform div.form-group.error.has-error label[for="edit-preferredresponselanguage"] + div.select-wrapper {
  margin-bottom: 0px;
}
/* line 46, ../sass/components/_generic-contact-webform.scss */
body.webform_generic_contactform div.form-group.error.has-error label[for="edit-preferredresponselanguage"] + div.select-wrapper select.form-select {
  width: 100%;
}
/* line 53, ../sass/components/_generic-contact-webform.scss */
body.webform_generic_contactform div.region.region-highlighted ul li {
  display: block;
}
/* line 56, ../sass/components/_generic-contact-webform.scss */
body.webform_generic_contactform div.region.region-highlighted ul li a {
  display: list-item;
  list-style-position: inside;
  margin-top: 15px;
}
/* line 61, ../sass/components/_generic-contact-webform.scss */
body.webform_generic_contactform div.region.region-highlighted ul li::after {
  content: none;
}
/* line 64, ../sass/components/_generic-contact-webform.scss */
body.webform_generic_contactform div.region.region-highlighted h2.sr-only {
  position: relative;
  font-size: 24px;
  width: 100%;
  height: 100%;
}

/* line 4, ../sass/components/_services-request-webform.scss */
body.agricultural-programs-and-services-agriinvest #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-requestor-name-required-"]::after, body.agricultural-programs-and-services-agriinvest #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-email-address-required-"]::after, body.agricultural-programs-and-services-agriinvest #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-requestor-name-required-"]::after, body.agricultural-programs-and-services-agriinvest #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-email-address-required-"]::after, body.agricultural-programs-and-services-agristability #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-requestor-name-required-"]::after, body.agricultural-programs-and-services-agristability #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-email-address-required-"]::after, body.agricultural-programs-and-services-agristability #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-requestor-name-required-"]::after, body.agricultural-programs-and-services-agristability #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-email-address-required-"]::after, body.programmes-services-agricoles-agri-stabilite #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-requestor-name-required-"]::after, body.programmes-services-agricoles-agri-stabilite #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-email-address-required-"]::after, body.programmes-services-agricoles-agri-stabilite #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-requestor-name-required-"]::after, body.programmes-services-agricoles-agri-stabilite #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-email-address-required-"]::after, body.programmes-services-agricoles-agri-investissement #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-requestor-name-required-"]::after, body.programmes-services-agricoles-agri-investissement #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-email-address-required-"]::after, body.programmes-services-agricoles-agri-investissement #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-requestor-name-required-"]::after, body.programmes-services-agricoles-agri-investissement #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-email-address-required-"]::after {
  content: none;
}
/* line 7, ../sass/components/_services-request-webform.scss */
body.agricultural-programs-and-services-agriinvest #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-requestor-name-required-"]::before, body.agricultural-programs-and-services-agriinvest #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-email-address-required-"]::before, body.agricultural-programs-and-services-agriinvest #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-requestor-name-required-"]::before, body.agricultural-programs-and-services-agriinvest #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-email-address-required-"]::before, body.agricultural-programs-and-services-agristability #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-requestor-name-required-"]::before, body.agricultural-programs-and-services-agristability #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-email-address-required-"]::before, body.agricultural-programs-and-services-agristability #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-requestor-name-required-"]::before, body.agricultural-programs-and-services-agristability #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-email-address-required-"]::before, body.programmes-services-agricoles-agri-stabilite #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-requestor-name-required-"]::before, body.programmes-services-agricoles-agri-stabilite #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-email-address-required-"]::before, body.programmes-services-agricoles-agri-stabilite #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-requestor-name-required-"]::before, body.programmes-services-agricoles-agri-stabilite #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-email-address-required-"]::before, body.programmes-services-agricoles-agri-investissement #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-requestor-name-required-"]::before, body.programmes-services-agricoles-agri-investissement #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-email-address-required-"]::before, body.programmes-services-agricoles-agri-investissement #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-requestor-name-required-"]::before, body.programmes-services-agricoles-agri-investissement #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-email-address-required-"]::before {
  content: "";
  background-image: url(../images/required.svg);
  display: inline-block;
  line-height: 1;
  color: #e00;
  background-size: 7px 7px;
  width: 7px;
  vertical-align: super;
  margin-left: 4px;
  height: 7px;
  position: absolute;
  top: 7px;
  left: -15px;
}
/* line 22, ../sass/components/_services-request-webform.scss */
body.agricultural-programs-and-services-agriinvest #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-requestor-name-required-"], body.agricultural-programs-and-services-agriinvest #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-email-address-required-"], body.agricultural-programs-and-services-agriinvest #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-requestor-name-required-"], body.agricultural-programs-and-services-agriinvest #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-email-address-required-"], body.agricultural-programs-and-services-agristability #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-requestor-name-required-"], body.agricultural-programs-and-services-agristability #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-email-address-required-"], body.agricultural-programs-and-services-agristability #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-requestor-name-required-"], body.agricultural-programs-and-services-agristability #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-email-address-required-"], body.programmes-services-agricoles-agri-stabilite #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-requestor-name-required-"], body.programmes-services-agricoles-agri-stabilite #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-email-address-required-"], body.programmes-services-agricoles-agri-stabilite #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-requestor-name-required-"], body.programmes-services-agricoles-agri-stabilite #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-email-address-required-"], body.programmes-services-agricoles-agri-investissement #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-requestor-name-required-"], body.programmes-services-agricoles-agri-investissement #webform-submission-request-agriinvest-form-excel-add-form div.form-item label[for="edit-email-address-required-"], body.programmes-services-agricoles-agri-investissement #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-requestor-name-required-"], body.programmes-services-agricoles-agri-investissement #webform-submission-as-ai-request-form-add-form div.form-item label[for="edit-email-address-required-"] {
  position: relative;
  margin-left: 10px;
  margin-bottom: 0px;
}
/* line 28, ../sass/components/_services-request-webform.scss */
body.agricultural-programs-and-services-agriinvest #webform-submission-request-agriinvest-form-excel-add-form div.form-item div.form-item--error-message.alert.alert-danger::before, body.agricultural-programs-and-services-agriinvest #webform-submission-as-ai-request-form-add-form div.form-item div.form-item--error-message.alert.alert-danger::before, body.agricultural-programs-and-services-agristability #webform-submission-request-agriinvest-form-excel-add-form div.form-item div.form-item--error-message.alert.alert-danger::before, body.agricultural-programs-and-services-agristability #webform-submission-as-ai-request-form-add-form div.form-item div.form-item--error-message.alert.alert-danger::before, body.programmes-services-agricoles-agri-stabilite #webform-submission-request-agriinvest-form-excel-add-form div.form-item div.form-item--error-message.alert.alert-danger::before, body.programmes-services-agricoles-agri-stabilite #webform-submission-as-ai-request-form-add-form div.form-item div.form-item--error-message.alert.alert-danger::before, body.programmes-services-agricoles-agri-investissement #webform-submission-request-agriinvest-form-excel-add-form div.form-item div.form-item--error-message.alert.alert-danger::before, body.programmes-services-agricoles-agri-investissement #webform-submission-as-ai-request-form-add-form div.form-item div.form-item--error-message.alert.alert-danger::before {
  content: none;
}
/* line 32, ../sass/components/_services-request-webform.scss */
body.agricultural-programs-and-services-agriinvest #webform-submission-request-agriinvest-form-excel-add-form div.form-item div.form-item--error-message.alert.alert-danger, body.agricultural-programs-and-services-agriinvest #webform-submission-as-ai-request-form-add-form div.form-item div.form-item--error-message.alert.alert-danger, body.agricultural-programs-and-services-agristability #webform-submission-request-agriinvest-form-excel-add-form div.form-item div.form-item--error-message.alert.alert-danger, body.agricultural-programs-and-services-agristability #webform-submission-as-ai-request-form-add-form div.form-item div.form-item--error-message.alert.alert-danger, body.programmes-services-agricoles-agri-stabilite #webform-submission-request-agriinvest-form-excel-add-form div.form-item div.form-item--error-message.alert.alert-danger, body.programmes-services-agricoles-agri-stabilite #webform-submission-as-ai-request-form-add-form div.form-item div.form-item--error-message.alert.alert-danger, body.programmes-services-agricoles-agri-investissement #webform-submission-request-agriinvest-form-excel-add-form div.form-item div.form-item--error-message.alert.alert-danger, body.programmes-services-agricoles-agri-investissement #webform-submission-as-ai-request-form-add-form div.form-item div.form-item--error-message.alert.alert-danger {
  border-image: none !important;
  margin-bottom: 5px;
  margin-left: 0px;
  font-weight: bold;
  background: #f3e9e8;
  border-color: #d3080c;
}
/* line 42, ../sass/components/_services-request-webform.scss */
body.agricultural-programs-and-services-agriinvest #webform-submission-request-agriinvest-form-excel-add-form div.form-group.error.has-error label[for="edit-programorservice"] + div.select-wrapper, body.agricultural-programs-and-services-agriinvest #webform-submission-as-ai-request-form-add-form div.form-group.error.has-error label[for="edit-programorservice"] + div.select-wrapper, body.agricultural-programs-and-services-agristability #webform-submission-request-agriinvest-form-excel-add-form div.form-group.error.has-error label[for="edit-programorservice"] + div.select-wrapper, body.agricultural-programs-and-services-agristability #webform-submission-as-ai-request-form-add-form div.form-group.error.has-error label[for="edit-programorservice"] + div.select-wrapper, body.programmes-services-agricoles-agri-stabilite #webform-submission-request-agriinvest-form-excel-add-form div.form-group.error.has-error label[for="edit-programorservice"] + div.select-wrapper, body.programmes-services-agricoles-agri-stabilite #webform-submission-as-ai-request-form-add-form div.form-group.error.has-error label[for="edit-programorservice"] + div.select-wrapper, body.programmes-services-agricoles-agri-investissement #webform-submission-request-agriinvest-form-excel-add-form div.form-group.error.has-error label[for="edit-programorservice"] + div.select-wrapper, body.programmes-services-agricoles-agri-investissement #webform-submission-as-ai-request-form-add-form div.form-group.error.has-error label[for="edit-programorservice"] + div.select-wrapper {
  margin-bottom: 0px;
}
/* line 44, ../sass/components/_services-request-webform.scss */
body.agricultural-programs-and-services-agriinvest #webform-submission-request-agriinvest-form-excel-add-form div.form-group.error.has-error label[for="edit-programorservice"] + div.select-wrapper select.form-select, body.agricultural-programs-and-services-agriinvest #webform-submission-as-ai-request-form-add-form div.form-group.error.has-error label[for="edit-programorservice"] + div.select-wrapper select.form-select, body.agricultural-programs-and-services-agristability #webform-submission-request-agriinvest-form-excel-add-form div.form-group.error.has-error label[for="edit-programorservice"] + div.select-wrapper select.form-select, body.agricultural-programs-and-services-agristability #webform-submission-as-ai-request-form-add-form div.form-group.error.has-error label[for="edit-programorservice"] + div.select-wrapper select.form-select, body.programmes-services-agricoles-agri-stabilite #webform-submission-request-agriinvest-form-excel-add-form div.form-group.error.has-error label[for="edit-programorservice"] + div.select-wrapper select.form-select, body.programmes-services-agricoles-agri-stabilite #webform-submission-as-ai-request-form-add-form div.form-group.error.has-error label[for="edit-programorservice"] + div.select-wrapper select.form-select, body.programmes-services-agricoles-agri-investissement #webform-submission-request-agriinvest-form-excel-add-form div.form-group.error.has-error label[for="edit-programorservice"] + div.select-wrapper select.form-select, body.programmes-services-agricoles-agri-investissement #webform-submission-as-ai-request-form-add-form div.form-group.error.has-error label[for="edit-programorservice"] + div.select-wrapper select.form-select {
  width: 100%;
}
/* line 52, ../sass/components/_services-request-webform.scss */
body.agricultural-programs-and-services-agriinvest div.region.region-highlighted ul li, body.agricultural-programs-and-services-agristability div.region.region-highlighted ul li, body.programmes-services-agricoles-agri-stabilite div.region.region-highlighted ul li, body.programmes-services-agricoles-agri-investissement div.region.region-highlighted ul li {
  display: block;
}
/* line 55, ../sass/components/_services-request-webform.scss */
body.agricultural-programs-and-services-agriinvest div.region.region-highlighted ul li a, body.agricultural-programs-and-services-agristability div.region.region-highlighted ul li a, body.programmes-services-agricoles-agri-stabilite div.region.region-highlighted ul li a, body.programmes-services-agricoles-agri-investissement div.region.region-highlighted ul li a {
  display: list-item;
  list-style-position: inside;
  margin-top: 15px;
}
/* line 60, ../sass/components/_services-request-webform.scss */
body.agricultural-programs-and-services-agriinvest div.region.region-highlighted ul li::after, body.agricultural-programs-and-services-agristability div.region.region-highlighted ul li::after, body.programmes-services-agricoles-agri-stabilite div.region.region-highlighted ul li::after, body.programmes-services-agricoles-agri-investissement div.region.region-highlighted ul li::after {
  content: none;
}
/* line 63, ../sass/components/_services-request-webform.scss */
body.agricultural-programs-and-services-agriinvest div.region.region-highlighted h2.sr-only, body.agricultural-programs-and-services-agristability div.region.region-highlighted h2.sr-only, body.programmes-services-agricoles-agri-stabilite div.region.region-highlighted h2.sr-only, body.programmes-services-agricoles-agri-investissement div.region.region-highlighted h2.sr-only {
  position: relative;
  font-size: 24px;
  width: 100%;
  height: 100%;
}

/* Make sure it's easy to click the language link. */
/* line 3, ../sass/regions/_header.scss */
a.language-link {
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 844px) {
  /* line 9, ../sass/regions/_header.scss */
  form.search-form div.js-form-type-select {
    float: left;
    position: absolute;
    right: 75px;
  }

  /* line 14, ../sass/regions/_header.scss */
  form.search-form div.js-form-type-search {
    width: 80%;
    left: 75px;
  }
}
@media screen and (min-width: 845px) {
  /* line 20, ../sass/regions/_header.scss */
  body.isIE div#edit-actions {
    left: 15px;
  }
}
/* line 24, ../sass/regions/_header.scss */
form.search-form div.js-form-type-select {
  right: 67px;
}

/* line 27, ../sass/regions/_header.scss */
form.search-form div.js-form-type-search {
  right: 40px;
}

/* line 30, ../sass/regions/_header.scss */
div.form-actions.form-group.js-form-wrapper.form-wrapper.col-md-1.col-sm-1 {
  display: inline-block !important;
}

@media screen and (min-width: 768px) and (max-width: 844px) {
  /* line 35, ../sass/regions/_header.scss */
  body.isIE #custom-search-block-form .select-wrapper::after {
    right: 15px;
  }
}
@media screen and (min-width: 992px) {
  /* line 41, ../sass/regions/_header.scss */
  form.search-form div.js-form-type-search {
    right: 124px;
  }
}
@media screen and (min-width: 845px) {
  /* line 48, ../sass/regions/_header.scss */
  body.isIE #custom-search-block-form .select-wrapper::after {
    right: 7px;
  }
}
/*
 * Search box and dropdown alignment fixes for responsive design 
 */
@media (min-width: 768px) {
  /* line 56, ../sass/regions/_header.scss */
  form.search-form div.js-form-type-select {
    right: 68px;
  }

  /* line 60, ../sass/regions/_header.scss */
  .theme-gcweb #wb-srch input {
    right: 42px;
  }
}
@media (min-width: 768px) and (max-width: 844px) {
  /* line 67, ../sass/regions/_header.scss */
  form.search-form div.js-form-type-select {
    right: 20px;
  }

  /* line 71, ../sass/regions/_header.scss */
  .theme-gcweb #wb-srch input {
    right: 60px;
  }

  /* line 75, ../sass/regions/_header.scss */
  #wb-srch-sub {
    margin-left: 135px;
  }
}
@media (min-width: 1200px) {
  /* line 83, ../sass/regions/_header.scss */
  form.search-form div.js-form-type-select {
    right: 34px;
  }

  /* line 87, ../sass/regions/_header.scss */
  .theme-gcweb #wb-srch input {
    right: 7px;
  }
}
/* line 4, ../sass/regions/_highlighted-not-front.scss */
div.region-highlighted-not-front {
  margin-right: -15px;
}
/* line 6, ../sass/regions/_highlighted-not-front.scss */
div.region-highlighted-not-front div.container-fluid {
  margin-right: 0;
  padding-right: 0;
}

/* line 2, ../sass/regions/_highlighted-front-only.scss */
div.region-highlighted-front-only {
  margin-right: -15px;
}
/* line 4, ../sass/regions/_highlighted-front-only.scss */
div.region-highlighted-front-only div.container-fluid {
  margin-right: 0;
  padding-right: 0;
}

/* line 40, ../sass/styles.scss */
html[lang="fr"] .english-only {
  display: none !important;
}

/* line 44, ../sass/styles.scss */
html[lang="en"] .french-only {
  display: none !important;
}

/* line 49, ../sass/styles.scss */
footer#wb-info .landscape div.contextual.open ul.contextual-links li a {
  color: #333 !important;
}

/* line 58, ../sass/styles.scss */
.icon.glyphicon.glyphicon-log-in {
  min-height: 20px;
}

/* line 63, ../sass/styles.scss */
.region.region-content-footer {
  padding-top: 20px;
}

/* line 68, ../sass/styles.scss */
.navbar img {
  width: fit-content;
  max-width: 100%;
  height: auto;
}

/* line 75, ../sass/styles.scss */
#block-aafctheme-reportproblemblock {
  margin-top: .5em;
}

/*BUG FIX FOR LAYOUT BUILDER*/
/* line 81, ../sass/styles.scss */
#drupal-off-canvas *:not(div), #drupal-off-canvas *:not(svg *),
#drupal-off-canvas *:after, #drupal-off-canvas *:before {
  all: revert;
}

/* line 86, ../sass/styles.scss */
.ui-dialog.ui-dialog-off-canvas {
  background: #efefef;
}

/* line 90, ../sass/styles.scss */
div.wb-share.mrgn-bttm-sm.pull-right.wb-init.wb-share-inited {
  width: 100%;
}
/* line 92, ../sass/styles.scss */
div.wb-share.mrgn-bttm-sm.pull-right.wb-init.wb-share-inited a.shr-opn.wb-lbx.btn.btn-default {
  display: block;
}

/* END BUG FIX FOR LAYOUT BUILDER */
@media (max-width: 844px) and (min-width: 768px) {
  /* line 98, ../sass/styles.scss */
  #wb-srch input, .srchbox input {
    right: 100px;
  }

  /* line 101, ../sass/styles.scss */
  .form-inline .select-wrapper {
    right: 100px;
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  /* line 107, ../sass/styles.scss */
  #wb-srch input, .srchbox input {
    margin-right: 160px;
    border-right: 1px solid #ddd;
  }
}

/*# sourceMappingURL=styles.css.map */
