/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

@import 'global/variables';
//@import 'global/forms';

@import 'components/draft-pending-views';
@import 'components/node';
@import 'components/front';
@import 'components/container-fluid';
@import 'components/media';
@import 'anonymous/restrictions';
@import 'anonymous/webforms';
@import 'components/status_message';
@import 'legacy-styles';
@import 'components/feedback-webform';
@import 'components/generic-contact-webform';
@import 'components/services-request-webform';
@import 'regions/header';
@import 'regions/highlighted-not-front';
@import 'regions/highlighted-front-only';

//@import 'layouts/header';
//@import 'layouts/footer';
//@import 'layouts/front';
//@import 'layouts/sidebar';
//@import 'components/blocks/blocks_global';
//@import 'components/_carousel';
//@import 'components/iframe';
//@import 'components/search';
//@import 'components/socialmedia';
//@import 'components/video_embed';
//@import 'pages/landing_page';
//@import 'pages/all_pages';
//@import 'legacy/classes';
//@import 'views/_viewname_view';

html[lang="fr"] .english-only {
  display: none !important;
}

html[lang="en"] .french-only {
  display: none !important;
}

footer#wb-info .landscape div.contextual.open {
  ul.contextual-links li a {
    color: #333 !important;
  }
}
//body > div > div.container {
//  border-right: 1px solid $aafctheme-border;
//  border-left: 1px solid $aafctheme-border;
//}

.icon.glyphicon.glyphicon-log-in
  {
    min-height: 20px;
  }

.region.region-content-footer
  {
    padding-top: 20px;
  }

.navbar img
  {
    width: fit-content;
    max-width: 100%;
    height: auto;
  }

#block-aafctheme-reportproblemblock {
    margin-top: .5em;
}

/*BUG FIX FOR LAYOUT BUILDER*/

#drupal-off-canvas *:not(div), #drupal-off-canvas *:not(svg *),
#drupal-off-canvas *:after, #drupal-off-canvas *:before {
  all: revert;
}

.ui-dialog.ui-dialog-off-canvas {
  background: #efefef;
}

div.wb-share.mrgn-bttm-sm.pull-right.wb-init.wb-share-inited {
  width: 100%;
  a.shr-opn.wb-lbx.btn.btn-default {
    display: block;
  }
}
/* END BUG FIX FOR LAYOUT BUILDER */
@media (max-width: 844px) and (min-width: 768px) {
  #wb-srch input, .srchbox input {
    right: 100px;
  }
 .form-inline .select-wrapper {
    right: 100px;
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  #wb-srch input, .srchbox input {
    margin-right: 160px;
    border-right: 1px solid #ddd;
  }
}
