@charset "UTF-8";

body[class*=moderationdashboard] {
  nav[aria-label=Tabs],
  nav[aria-label=Onglets]
  {
    visibility: hidden;
  }
  body[class*=moderationdashboard] {
    nav.mrgn-tp-md {
      margin-top: 0px;
    }
    nav.mrgn-bttm-md{
      margin-bottom: 0px;
    }
  }
}

body.i18n-en[class*=moderationdashboard] {
  div.moderation-dashboard h2 {
    font-size: 16px;
    font-weight: bold;
  }
}

body.i18n-fr[class*=moderationdashboard] {
  div.moderation-dashboard h2 {
    font-size: 16px;
    font-weight: bold;
  }
}