{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'img-responsive-w520-special',
    'thumbnail-w520-special',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <figure>
    {{ title_suffix.contextual_links }}

    {% if content %}
      {{ content|without('name') }}
    {% endif %}
  </figure>
</article>
