body.node-edit .hidden-input-box .form-items-inline, body.node-add .hidden-input-box .form-items-inline {
  display: none;
}
body.node-edit .hidden-input-box input, body.node-add .hidden-input-box input {
  display: none;
}

/*# sourceMappingURL=page-edit.css.map */
