
/* Make sure it's easy to click the language link. */
a.language-link {
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 844px) {
  form.search-form div.js-form-type-select{
    float: left;
    position: absolute;
    right: 75px;
  }
  form.search-form div.js-form-type-search{
    width: 80%;
    left: 75px;
  }
}
@media screen and (min-width: 845px) {
  body.isIE div#edit-actions{
    left: 15px
  }
}
form.search-form div.js-form-type-select{
  right: 67px;
}
form.search-form div.js-form-type-search{
  right: 40px;
}
div.form-actions.form-group.js-form-wrapper.form-wrapper.col-md-1.col-sm-1 {
  display: inline-block !important;
}

@media screen and (min-width: 768px) and (max-width: 844px) {
  body.isIE #custom-search-block-form .select-wrapper::after {
    right: 15px;
  }
}

@media screen and (min-width: 992px) {
  form.search-form div.js-form-type-search {
    right: 124px;
  }
}

//@media screen and (min-width: 992px ) {
@media screen and (min-width: 845px ) {
  body.isIE #custom-search-block-form .select-wrapper::after {
    right: 7px;
  }
}
/*
 * Search box and dropdown alignment fixes for responsive design 
 */
 @media (min-width: 768px) {
  form.search-form div.js-form-type-select {
    right: 68px;
  }
  
  .theme-gcweb #wb-srch input {
    right: 42px;
  }
  
  }
  
  @media (min-width: 768px) and (max-width: 844px) {
  form.search-form div.js-form-type-select {
    right: 20px;
  }
  
  .theme-gcweb #wb-srch input {
    right: 60px;
  }
  
  #wb-srch-sub {
    margin-left: 135px;
  } 
  
  
  }
  
  @media (min-width: 1200px) {
    form.search-form div.js-form-type-select {
    right: 34px;
  }
  
  .theme-gcweb #wb-srch input {
    right: 7px;
  }
  }