
body.adminpublish_activity div.form-item--revision-timestamp-max {
  margin-left: 5px;
}

body.adminpublish_activity div#edit-actions {
  margin-left: 5px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}


