body.adminpublish_activity_meta div.form-item--revision-timestamp-min {
  margin-bottom: 2.5rem;
}
  
body.adminpublish_activity_meta div.form-item--revision-timestamp-max {
  margin-left: 3px;
  margin-bottom: 2.5rem;
}

body.adminpublish_activity_meta div.form-item--type-2 {
  margin-left: 15px;
  margin-bottom: 2.5rem;
}

body.adminpublish_activity_meta div.form-item--langcode {
  margin-left: 10px;
  margin-bottom: 2.5rem;
}

body.adminpublish_activity_meta div.form-item--field-issued-value {
  visibility: hidden;
} 

body.adminpublish_activity_meta div#edit-actions {
  margin-left: -18rem;
  margin-bottom: 2.5rem;
}